<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <meta charset="UTF-8">
    <title>CodeWithAbhishek</title>
</head>
<body >

<div align="center">
    <h1> Code With Abhishek</h1><br><br>

    <table border="2" cellpadding="10">


        <tr>
            <td>
                <a th:href="@{/}">  <b>Add Information</b> </a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/view}">  <b>View Information</b> </a>
            </td>
        </tr>



    </table>



</div>

</body>
</html>